.mask {
  display: none;
  padding: 0.3rem 10%;
  position: fixed;
  bottom: 0;
  background-color: rgba(54, 64, 73, 0.9);
  font-size: 0.15rem;
  color: #cabdcf;
  line-height: 0.28rem;
}
.mask ul {
  list-style-type: decimal;
  margin-left: 0.18rem;
}
.mask span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  background: url('../../images/close.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 0.25rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  position: absolute;
  border-radius: 50%;
  left: 20%;
  background: linear-gradient(left top, #21b6fc, #1bd5cc);
  background: -webkit-linear-gradient(left top, #21b6fc, #1bd5cc);
  background: -o-linear-gradient(left top, #21b6fc, #1bd5cc);
  background: -moz-linear-gradient(left top, #21b6fc, #1bd5cc);
}
.circle .pie_left,
.circle .pie_right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.circle .left,
.circle .right {
  width: 100%;
  height: 101%;
  background: #72737c;
  border-radius: 100%;
  position: absolute;
  top: -0.015rem;
  left: 0;
  z-index: 0;
  transition: all 1s linear;
  -webkit-animation: all 1s linear;
  -o-animation: all 1s linear;
  -moz-animation: all 1s linear;
}
.circle .left {
  -webkit-transform: rotate(0deg);
}
.circle .right {
  -webkit-transform: rotate(0deg);
}
.circle .pie_right,
.circle .right {
  clip: rect(0, auto, auto, 1rem);
}
.circle .pie_left,
.circle .left {
  clip: rect(0, 1rem, auto, 0);
}
.circle .prev {
  transition: spin 0.5s linear;
  -webkit-transition: spin 0.5s linear;
  animation: spin 0.5s linear;
  -webkit-animation: spin 0.5s linear;
}
.circle .cur {
  transition: spin 0.5s linear;
  -webkit-transition: spin 0.5s linear;
  animation: rotate 0.5s linear;
  -webkit-animation: rotate 0.5s linear;
}
.circle .score_bg {
  background-color: rgba(35, 38, 70, 0.9);
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
  }
}
.circle .circle_mask {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  left: 0.25rem;
  top: 0.25rem;
  position: absolute;
  text-align: center;
  color: #000;
}
.circle .circle_mask .change {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 0.11rem;
  border-radius: 50%;
}
.circle .circle_mask .change h4 {
  font-size: 0.4rem;
  color: #dadada;
  line-height: 1.3rem;
}
.share_mask{
  display: none;
  width: 100%;
  height: 5.5rem;
  position: absolute;
  top: 0;
  background-image: url(../../images/share_mask.png);
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-color: rgba(54, 64, 73, 0.9);
}