body{
	background: gradient(linear, 0 0, 100% 100%, from(#edbe5c), to(#bc9145));
	background: -webkit-gradient(linear, 0 0, 100% 100%, from(#edbe5c), to(#bc9145));
	background: -ms-gradient(linear, 0 0, 100% 100%, from(#edbe5c), to(#bc9145));
	// overflow: hidden;
}
.game_element_container{
	width: 100%;
  height: 6000px;
  position: relative;
}
audio{
	position: fixed;
	display: none;
}
.control{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 1rem;
	.ctrl_common{
		width: 0.8rem;
		height: 0.8rem;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: absolute;
	}
	.left{
		background-image: url('../images/left.png');
		left: 10%;
	}
	.right{
		background-image: url('../images/right.png');
		right: 10%;
	}
	.car{
		width: 0.625rem;
		height: 1.1rem;
		background: url('../images/car.png') no-repeat;
		background-size: 100% 100%;
		position: absolute;
		left: 42%;
		top: -1.1rem;
	}
}
.time_container{
	width: 100%;
	text-align: center;
	height: 0.32rem;
	line-height: 0.32rem;
	position: fixed;
	z-index: 999;
	.time_bg{
		display: inline-block;
		width: 80%;
		text-align: center;
		height: 0.15rem;
		background-color: #757575;
		border-radius: 0.075rem;
	}
	.time{
		width: 100%;
		text-align: center;
		height: 0.15rem;
		background-color: #61b623;
		border-radius: 0.075rem;
	}
	span{
		color: #a03d3d;
		font-weight: bold;
		font-size: 0.16rem;
		margin-left: 0.05rem;
	}
	input{
		display: inline;
		  border: none;
		  background: none;
		  width: 20px;
		  color: #a03d3d;
	}
}

.toast{
	  background: rgba(0, 0, 0, 0.75);
  padding: 0.16rem 0.25rem;
  color: #fff;
  border-radius: 0.05rem;
  font-size: .14rem;
  max-width: 80%;
  word-wrap: break-word;
  display: block;
  position: fixed;
  /* background-color: #000; */
  left: 260px;
  top: 350px;
}