<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>极地奔跑 兄弟助力</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta content="address=no" name="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="../static/css/common/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/friend_originate.css">
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="../static/js/common/zepto.js"></script>
	<script type="text/javascript" src="../static/js/common/weichat_sdk.js"></script>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?e241403275c48416bb82e04f009d700b";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
	<div id="friend_originate">
		<header>
			<img src="../static/images/icon_header.png">
			<h3>恭喜！张美男帮Jane跑完了全程！</h3>
		</header>
		<section>
			<div class="circle">
				<div class="pie_left">
					<div id="left" class="left"></div>
				</div>
				<div class="pie_right">
					<div id="right" class="right"></div>
				</div>
				<div class="circle_mask">
					<div class="change score_bg">
						<h4 id="percentage"></h4>
					</div>
				</div>
			</div>
		</section>
		<p>
			由于你的助力<br>
			JANE获得了100M流量和大礼包！
		</p>
		<div class="btn">我也要发起</div>
	
	</div>
	<script type="text/javascript">
		var data = {
			cur: '100',
			cur_has_score: true
		};


		var circle = {
			dom: {
				'circle': $('.circle'),
				'mask': $('.mask')
			},
			clock: null,

			createCircle: function( score, disabled ){
				var circle = $(this.dom.circle),
					num = score * 3.6,
					leftWrap = $('#left'),
					rightWrap = $('#right');
					animateTime = ( (num > 180) ? ((score - 50) * 3.6 * 2000 / 180 - 100) : 0 ) + 'ms';

				if(disabled){
					leftWrap.css('transform', "");
					leftWrap.css('-webkit-transform', "");
					return false;
				}

				if ( num <= 180 ) {
					leftWrap.css('transform', "rotate(" + ( - num ) + "deg)");
					leftWrap.css('-webkit-transform', "rotate(" + ( - num ) + "deg)");
				} else {
					leftWrap.css('transform', "rotate(-180deg)");
					leftWrap.css('-webkit-transform', "rotate(-180deg)");

					rightWrap.css('-webkit-animation-duration', animateTime);
					rightWrap.css('-webkit-transition-duration', animateTime);

					setTimeout(function(){
						rightWrap.css('transform', "rotate(" + ( 180 - num ) + "deg)");
						rightWrap.css('-webkit-transform', "rotate(" + ( 180 - num ) + "deg)");
					},1000);
					
				};
			},

			set: function(){
				$('#percentage').text(data.cur + '%');
			},

			bindEvent: function(){
				this.set();
				this.createCircle( data.cur, !data.cur_has_score );

			},
			init: function(){
				this.bindEvent();	
			}
		};

		circle.init();
	</script>
</body>
</html>
