<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>极地奔跑 兄弟助力</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta content="address=no" name="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="../static/css/common/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="../static/js/common/zepto.js"></script>
	<script type="text/javascript" src="../static/js/common/weichat_sdk.js"></script>
	<script type="text/javascript" src="../static/js/common/common.js"></script>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?e241403275c48416bb82e04f009d700b";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
	
	<div id="index">
		<div class="wrap">
            <a href="<?php echo $this->v['redirect_url'];?>">开始游戏</a>
		</div>
		<h3 id="rules">游戏规则>></h3>
	</div>
	<div class="mask">
		<h4>游戏规则：</h4>
		<ul>
			<li>游戏目标里程10KM，每人总计30S;</li>
			<li>通过左右键操作，获得斯柯达红包+500M、易车红包+1KM、石头-1KM、路障-0.5KM;</li>
			<li>兄弟助力完成10KM即可获得100M流量及大礼包</li>
		</ul>
		<span id="close"> </span>
	</div>
</body>
	<script type="text/javascript">
        var share_title = '<?php echo $this->v['share_title']; ?>';
        var share_desc = '<?php echo $this->v['share_desc'];?>';
        var share_url = '<?php echo $this->v['share_url'];?>';
        var share_logo = '<?php echo $this->v['share_logo'];?>';

		var weichat = new weichatSDK({
			checkJSApi : false,
			debug : false,
		    title: share_title,
		    desc: share_desc,
		    link: share_url,
		    imgUrl: share_logo
		});
	</script>
</html>
