<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>车型介绍</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta content="address=no" name="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="../static/css/common/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/intro.css">
	<script type="text/javascript" src="../static/js/common/zepto.js"></script>
	<script type="text/javascript" src="../static/js/common/common.js"></script>

</head>
<body>
	
	<div id="intro">
		<div class="wrap">
            <a href="<?php echo $this->v['redirect_url'];?>">立即选车玩游戏</a>
		</div>
		<h3 id="rules">游戏规则>></h3>
	</div>
	<div class="mask">
		<h4>游戏规则：</h4>
		<ul>
			<li>车默认前行，总计60S;</li>
			<li>通过左右键获得斯柯达红包+1S、易车红包+2S、石头-2S、路障-1S;</li>
			<li>参与即可获得20M流量，邀请好友助力跑完全程可再获得120M流量;</li>
		</ul>
		<span id="close"></span>
	</div>
</body>
</html>
