<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>车辆选择</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta content="address=no" name="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="../static/css/common/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/select.css">
	<script type="text/javascript" src="../static/js/common/zepto.js"></script>
	<script type="text/javascript" src="../static/js/common/common.js"></script>

</head>
<body>
	
	<div id="select">
		<img src="../static/images/select.png">
	</div>
</body>
</html>