<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>极地奔跑 兄弟助力</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta content="address=no" name="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="../static/css/common/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/select.css">
	<script type="text/javascript" src="../static/js/common/zepto.js"></script>
	<script type="text/javascript" src="../static/js/select.js"></script>

</head>
<body>
	<div id="select">
		<div class="car car_03"></div>
		<span class="icon_01" data-color="1" data-img="car_01">
			<i>峻野褐</i>
		</span>
		<span class="icon_02" data-color="2" data-img="car_02">
			<i>极地白</i>
		</span>
		<span class="icon_03" data-color="3" data-img="car_03">
			<i>戈壁棕</i>
		</span>
        <?php echo '需要向此url提交post请求带上颜色值'.$this->v['redirect_url']; ?>
		<a href="game.html" class="btn">立即开始</a>
	</div>
</body>
</html>
