body {
  background: url('../images/user_gameover_bg.png') no-repeat;
  background-size: 100% auto;
}
#friend_gameover {
  padding: 0.27rem 4.58%;
  padding-bottom: 0;
  font-size: 0.17rem;
  color: #dadada;
}
header {
  text-align: center;
}
header img {
  width: 0.37rem;
  height: 0.37rem;
  border-radius: 0.05rem;
}
header h3 {
  line-height: 0.5rem;
}
section {
  height: 2rem;
  padding-bottom: 0.25rem;
}
p {
  text-align: center;
  line-height: 0.32rem;
}
p strong {
  color: #f9a401;
}
input {
  border: none;
}
.phone {
  margin-top: 0.25rem;
  height: 0.48rem;
  text-align: center;
  line-height: 0.48rem;
  width: 100%;
  color: #34235b;
  font-size: 0.17rem;
  border-radius: 0.05rem;
}
.btn {
  margin-top: 0.15rem;
  height: 0.48rem;
  text-align: center;
  line-height: 0.48rem;
  width: 100%;
  background-color: #f9b001;
  color: #34235b;
  font-size: 0.17rem;
  border-radius: 0.05rem;
  letter-spacing: 0.02rem;
}
.friend_info {
  overflow: hidden;
  background-color: #302f52;
  padding: 0.27rem 4.58%;
  padding-top: 1rem;
  margin-top: -1rem;
}
.friend_info h3 {
  color: #fff;
  font-size: 0.11rem;
  height: 0.28rem;
  line-height: 0.28rem;
  background-color: #4e6fa0;
  display: inline-block;
  padding: 0 0.1rem;
}
.friend_info span {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 0.28rem solid #4e6fa0;
  border-right: 0.28rem solid transparent;
}
.friend_info hr {
  color: #54506e;
  width: 100%;
  height: 0;
  border: 2px solid #54506e;
  margin: 0.1rem 0;
}
.friend_info tr {
  display: inline-block;
  color: #f6f6f6;
  font-size: 0.12rem;
  margin-bottom: 0.1rem;
}
.friend_info .sort {
  padding: 0 0.1rem;
  font-size: 0.14rem;
}
.friend_info .name {
  padding: 0 0.1rem 0 0.2rem;
  color: #f6f6f6;
  font-size: 0.13rem;
}
.friend_info .time {
  font-size: 0.12rem;
  color: #ccc;
}
.friend_info .miles {
  color: #ff4812;
  font-size: 0.12rem;
  padding-left: 0.6rem;
}
.friend_info img {
  width: 0.37rem;
  height: 0.37rem;
  border-radius: 0.05rem;
}
